<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SkillAid Registration.</title>

<!-- Styles -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
	rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/fontawesome-all.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link href="/css/magnific-popup.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">

<!-- Favicon  -->
<link rel="icon" href="images/favicon.png">
<style>
#header {
	background-color: white;
}

.navbar-custom {
	 padding: 5px;
	 background: transparent ;
    box-shadow: none ;

	
}

.navbar-custom {
	background-color: #5f4dee;
}
</style>
</head>
<body data-spy="scroll" data-target=".fixed-top">

	<!-- Preloader -->
	<div class="spinner-wrapper">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
	<!-- end of preloader -->


	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		<div class="container">

			<!-- Text Logo - Use this if you don't have a graphic logo -->
			<!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

			<!-- Image Logo -->
			<a class="navbar-brand logo-image" href="/"><img
				src="/images/logo.svg" alt="alternative"></a>

			<!-- Mobile Menu Toggle Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-awesome fas fa-bars"></span> <span
					class="navbar-toggler-awesome fas fa-times"></span>
			</button>
			<!-- end of mobile menu toggle button -->

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#header">Admin <span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#features">Admin</a></li>
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#details">Admin</a></li>
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#details">Admin</a></li>
				</ul>
				<span class="nav-item"> <a class="btn-outline-sm"
					href="/logout">Logout</a>
				</span>
			</div>
		</div>
		<!-- end of container -->
	</nav>
	<!-- end of navbar -->
	<!-- end of navigation -->

	<!-- Header -->
	<div class="clear"></div>
	<div class="container" style="position: relative; margin-top: 60px;">
		<div class="row">
			<div>
				<h3>Registrations</h3>
			</div>

			<table class="table table_responsive table_hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Mobile</th>
						<th>College</th>
						<th>Stream</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${registrations.empty}">
						<td colspan="5">No Registrations Available</td>
					</tr>
					<tr th:each="reg : ${registrations}">
						<td><span th:text="${reg.studentName}"></span></td>
						<td><span th:text="${reg.email}"></span></td>
						<td><span th:text="${reg.mobile}"></span></td>
						<td><span th:text="${reg.college}"></span></td>
						<td><span th:text="${reg.stream}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- end of container -->
	<!-- end of ex-header -->
	<!-- end of header -->


	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery for Bootstrap's JavaScript plugins -->
	<script src="/js/popper.min.js"></script>
	<!-- Popper tooltip library for Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap framework -->
	<script src="/js/jquery.easing.min.js"></script>
	<!-- jQuery Easing for smooth scrolling between anchors -->
	<script src="/js/swiper.min.js"></script>
	<!-- Swiper for image and text sliders -->
	<script src="/js/jquery.magnific-popup.js"></script>
	<!-- Magnific Popup for lightboxes -->
	<script src="/js/validator.min.js"></script>
	<!-- Validator.js - Bootstrap plugin that validates forms -->
	<script src="/js/scripts.js"></script>
	<!-- Custom scripts -->
	<script src="/js/custom/register.js"></script>
</body>
</html>