<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SkillAid Registration.</title>

<!-- Styles -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
	rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/fontawesome-all.css" rel="stylesheet">
<link href="/css/swiper.css" rel="stylesheet">
<link href="/css/magnific-popup.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">

<!-- Favicon  -->
<link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

	<!-- Preloader -->
	<div class="spinner-wrapper">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
	<!-- end of preloader -->


	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		<div class="container">

			<!-- Text Logo - Use this if you don't have a graphic logo -->
			<!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

			<!-- Image Logo -->
			<a class="navbar-brand logo-image" href="/"><img
				src="/images/logo.svg" alt="alternative"></a>

			<!-- Mobile Menu Toggle Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-awesome fas fa-bars"></span> <span
					class="navbar-toggler-awesome fas fa-times"></span>
			</button>
			<!-- end of mobile menu toggle button -->

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#header">HOME <span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#features">FEATURES</a></li>
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#details">DETAILS</a></li>
					<li class="nav-item"><a class="nav-link page-scroll"
						href="#details">Contact Us</a></li>
				</ul>
				<span class="nav-item"> <a class="btn-outline-sm"
					href="/view/register">Register</a>
				</span>
			</div>
		</div>
		<!-- end of container -->
	</nav>
	<!-- end of navbar -->
	<!-- end of navigation -->

	<!-- Header -->
	<header id="header" class="ex-2-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Register</h1>

					<!-- Sign Up Form -->
					<div class="form-container">
						<div style="display: none" class="alert alert-success" id="registrationsuccess" role="alert">Registration Success, our team will Contact you.</div>
						<div style="display: none" class="alert alert-danger" id="registrationerror" role="alert"></div>
						<form id="logInForm" data-toggle="validator" data-focus="false">
							<div class="form-group">
								<input type="text" class="form-control-input" id="name" required>
								<label class="label-control" for="name">Name</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control-input" id="email"
									required> <label class="label-control" for="email">Email</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="college"
									required> <label class="label-control" for="college">College</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control-input" id="stream"
									required> <label class="label-control" for="stream">Stream(CSE,ECE...)</label>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<input type="tel" class="form-control-input" id="mobile"
									required> <label class="label-control" for="mobile">Mobile</label>
								<div class="help-block with-errors"></div>
							</div>
							<div id="register_button" class="form-group">
								<button onclick="register()" type="button"
									class="form-control-submit-button">Register</button>
							</div>
							<div id="register_button_dummmy" class="form-group" style="display: none">
								<button onclick="register()" type="button"
									class="form-control-submit-button">Processing...</button>
							</div>
						</form>
					</div>
					<!-- end of form container -->
					<!-- end of sign up form -->

				</div>
				<!-- end of col -->
			</div>
			<!-- end of row -->
		</div>
		<!-- end of container -->
	</header>
	<!-- end of ex-header -->
	<!-- end of header -->


	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery for Bootstrap's JavaScript plugins -->
	<script src="/js/popper.min.js"></script>
	<!-- Popper tooltip library for Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap framework -->
	<script src="/js/jquery.easing.min.js"></script>
	<!-- jQuery Easing for smooth scrolling between anchors -->
	<script src="/js/swiper.min.js"></script>
	<!-- Swiper for image and text sliders -->
	<script src="/js/jquery.magnific-popup.js"></script>
	<!-- Magnific Popup for lightboxes -->
	<script src="/js/validator.min.js"></script>
	<!-- Validator.js - Bootstrap plugin that validates forms -->
	<script src="/js/scripts.js"></script>
	<!-- Custom scripts -->
	<script src="/js/custom/register.js"></script>
</body>
</html>